# Logs #
########
*.log

# Config #
##########

# Certificates #
################
#*.crt
#*.key
#*.pem

# System #
################
.DS_Store

# Temp #
################
/tmp

# Chef and Vagrant #
################
/cookbooks
/.vagrant
/Berksfile.lock
/Cheffile.lock
/*.lock

# Bower #
################
/bower_components/*

# Node Modules #
################
/node_modules/*
!/node_modules/.gitignore
!/node_modules/node-recurly/*

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

.idea
